* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(2, 2, 51);
  color: white;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(1, 1, 26);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgb(141, 141, 202);
  font-size: 1.05rem;
}
main hr {
  border: 0;
  background: #9c97f1;
  height: 1.2px;
  margin: 60px 84px;
}
.image-top1 {
  width: 57px;
  position: relative;
  top: -52px;
  background-color: azure;
}

.left {
  font-size: 1.5rem;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0;
}

.firstsection > div {
  width: 38%;
}
.secondsection {
  width: 80vw;
  margin: auto;
}
.secondsection h1 {
  font-size: 2rem;
}
.secondsection .box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}
.secondsection .vertical {
  height: 93px;
  width: 1px;
  background: white;
  margin: 0 130px;
}
.leftsection {
  font-size: 3rem;
}

.rightsection img {
  width: 80%;
}
.purple {
  color: rgb(139, 60, 214);
}
.text-gray {
  color: gray;
}
#element {
  color: rgb(139, 60, 214);
}
.image-top {
  width: 36px;
  position: relative;
  top: -44px;
  left: 16px;
}
.vertical-text {
  position: relative;
  top: -25px;
  right: -19px;
}
.image-top1 {
  width: 28px;
  position: relative;
  top: -50px;
  left: 16px;
}
main hr {
  border: -3;
  background: #9c97f1;
  height: -1.8px;
  margin: 188px 58px;
}
.thirdsection {
  width: 80vw;
  margin: auto;
  padding-bottom: 300px;
}
.thirdsection h1 {
  font-size: 2rem;
}
.thirdsection .vertical {
  height: 93px;
  width: 1px;
  background: white;
  margin: 0 130px;
}
.thirdsection .box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}
footer {
  background-color: rgb(16, 16, 17);
  padding: 23px 150px;
  height: 200px;
}
